streamlit
rank-bm25
langchain-text-splitters
PyPDF2
groq==0.11.0

python-dotenv==1.0.1

PyYAML==6.0.2

sentence-transformers==3.0.1

chromadb==0.5.5

pandas==2.2.2

numpy==1.26.4

datasets==2.20.0

ragas==0.1.9